<!DOCTYPE html>
<html>
<head>
  <title>mini-blog</title>
  <style type="text/css" href="./application.css"></style>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>

<nav class="#4db6ac teal lighten-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">mini app</a>

    <% if user_signed_in? %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="#" href="/posts/new">New</a></li>
      <li><%= Sign Out "ログアウト", destroy_user_session_path, method: :delete %><li>
    </ul>
  </div>

    <% else %>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Sign In", new_user_session_path, :class => '#' %><li>
      <li><%= link_to "Sign Up", new_user_registration_path, :class => '#' %><li>
 <% end %>

</nav>

<div class="row">
    <div class="col s12 m6">
      <div class="card #fffde7 yellow lighten-5">
        <div class="card-content black-text">
          <p>userコメント</p>
        </div>

        <% if user_signed_in? %>
        <div class="card-action">
          <a href="#">EDIT</a>
          <a href="#">DELETE</a>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</body>
</html>