<!DOCTYPE html>
<html>
<head>
  <title>mini-blog</title>
  <style type="text/css" href="./application.css"></style>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>

<nav class="#4db6ac teal lighten-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">mini app</a>

    <% if user_signed_in? %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="#" href="/posts/new">New</a></li>
      <li><%= link_to "Sign Out ", destroy_user_session_path, method: :delete %><li>
    </ul>
  </div>

    <% else %>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Sign In", new_user_session_path, class: 'post' %><li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: 'post' %><li>
 <% end %>

</nav>

<%= yield %>

</body>
</html>